//fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

//variables
$btn-color: #e4c1ae;
$btn-color-hover: #b69a8c;
$white-color: #fff;
$black-color: rgba(18, 18, 18, 50%);
$medium: 1024px;
$small: 425px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  font-size: 1rem;
}
.popup-shadow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $black-color;
  .popup-reset {
    width: 5rem;
    background-color: $btn-color;
    padding: 1rem;
    color: $white-color;
    border: none;
    border-radius: 32px;
    position: absolute;
    right: 5rem;
    bottom: 2rem;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    display: none;
    &:hover {
      background-color: #b69a8c;
    }
    @media screen and (max-width: $medium) {
      right: 1.5rem;
    }
  }
  .popup-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $white-color;
    border: 1px solid #bbb;
    width: 40rem;
    height: 10rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $medium) {
      width: 50%;
      height: 14rem;
    }
    @media screen and (max-width: $small) {
      height: 15rem;
    }
    @media screen and (max-width: 345px) {
      height: 17rem;
    }

    .popup-title {
      font-size: 2.5rem;
      padding: 0.5rem;
      @media screen and (max-width: $medium) {
        font-size: 1.5rem;
        width: 100%;
      }
      @media screen and (max-width: $small) {
        font-size: 1.2rem;
      }
    }
    .popup-text {
      padding: 0.6rem;
      .popup-counter{
          font-weight: bold;
      }
      @media screen and (max-width: $small) {
        font-size: 0.9rem;
        width: 100%;
      }
    }
    #close {
      color: #000000;
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      cursor: pointer;
    }
  }
}

.body-content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10rem 5rem;
  width: 100%;
  max-width: 1440px;
  @media screen and (max-width: $medium) {
    flex-direction: column;
    padding: 2rem;
  }
  .img-section {
    padding: 1rem;
    @media screen and (max-width: $medium) {
      width: 100%;
    }
    img {
      width: 31rem;
      height: 20.625rem;
      @media screen and (max-width: $medium) {
        width: 100%;
      }
    }
  }
  .content-section {
    padding: 4rem;
    width: 50%;
    @media screen and (max-width: $medium) {
      padding: 2rem;
      width: 100%;
    }
    .content-title {
      font-size: 2.65rem;
      margin: 1.5rem 1rem;
      font-weight: 700;
      @media screen and (max-width: $medium) {
        width: 100%;
      }
      @media screen and (max-width: $small) {
        font-size: 1.5rem;
        margin: 0.2rem;
        width: 100%;
      }
    }
    .content-paragraph {
      width: 23.75rem;
      font-size: 1rem;
      font-weight: 300;
      @media screen and (max-width: $medium) {
        width: 100%;
      }
    }
    .content-btn {
      color: $white-color;
      border: none;
      background-color: $btn-color;
      border-radius: 32px;
      padding: 1rem 2.5rem;
      margin-top: 2rem;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      &:hover {
        background-color: $btn-color-hover;
        transform: translateY(5px);
      }
    }
  }
}
